In [25]:
#load the necessary modules
import pandas as pd
import numpy as np
import datetime, math
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

from sklearn.model_selection import StratifiedKFold, train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn import svm, preprocessing
from keras.models import Model
from keras.layers import Input, Dense

In [26]:
# loaded the csv file
df_sensor = pd.read_csv("../ten-datasets/sensor.csv", parse_dates=['timestamp'])
df_sensor.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [27]:
# include the timestamp as one of the feature to train the model

def convert_datetime(x):
    return x.timestamp()

df_sensor['timestamp'] = df_sensor[['timestamp']].applymap(convert_datetime)

df_sensor = df_sensor.drop(['Unnamed: 0'], axis=1)
df_sensor.head()

,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,1.522541e+09,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1.522541e+09,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,1.522541e+09,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,1.522541e+09,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,1.522541e+09,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [28]:
for val in df_sensor.columns[1:-1]:
    df_sensor[val] = df_sensor[val].fillna(df_sensor[val].mean())

In [29]:
df_sensor['machine_status'] = df_sensor['machine_status'].replace('NORMAL', 1)
df_sensor['machine_status'] = df_sensor['machine_status'].replace('BROKEN', 0)
df_sensor['machine_status'] = df_sensor['machine_status'].replace('RECOVERING', 0)

In [30]:
X = np.array(df_sensor.iloc[:,0:-1])
X = preprocessing.scale(X)
y = np.array(df_sensor['machine_status'])

In [20]:
# use K-Fold to split the dataset
#skf = StratifiedKFold(n_splits=2)
#skf.get_n_splits(X, y)

In [21]:
#for train_index, test_index in skf.split(X, y):
#    print('####')
#    print("TRAIN:", train_index, "TEST:", test_index)
#    train_index
#    X_train, X_test = X.loc[train_index], X.loc[test_index]
#    y_train, y_test = y.loc[train_index], y.loc[test_index]

In [48]:
# split the training and test dataset with test dataset size is 30%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# LogisticRegression

In [8]:
print('Model training started at ', datetime.datetime.now())
clf = LogisticRegression(solver='liblinear')
clf.fit(X_train, y_train)
print('Model training ended at ', datetime.datetime.now())
accuracy = clf.score(X_test, y_test)
print('model accuracy: %.4f' %(accuracy))

Model training started at  2020-04-05 15:34:49.142609
Model training ended at  2020-04-05 15:35:01.598737
model accuracy: 0.9980

# SVM

In [9]:
print('Model training started at ', datetime.datetime.now())
clf = svm.SVC(kernel = 'linear')
clf.fit(X_train, y_train)
print('Model training ended at ', datetime.datetime.now())
accuracy = clf.score(X_test, y_test)
print('model accuracy: %.4f' %(accuracy))

Model training started at  2020-04-05 15:35:03.600308
Model training ended at  2020-04-05 15:35:34.782556
model accuracy: 0.9982

# Deep Learning

In [49]:
X_train.shape

(154224, 52)

In [17]:
# 2 hidden layers
inputs = Input(shape=[52,])
hidden = Dense(32, activation='relu')(inputs)
hidden = Dense(32, activation='relu')(hidden)
preds = Dense(1,activation='linear')(hidden)

model = Model(inputs=inputs,outputs=preds)
model.compile(optimizer='sgd' ,loss='mse',metrics=['accuracy'])
history = model.fit(X_train, y_train, batch_size=52, epochs=5)

Epoch 1/5
154224/154224 [==============================] - 3s 19us/step - loss: 0.0188 - accuracy: 0.9867
Epoch 2/5
154224/154224 [==============================] - 3s 18us/step - loss: 0.0046 - accuracy: 0.9972
Epoch 3/5
154224/154224 [==============================] - 3s 18us/step - loss: 0.0035 - accuracy: 0.9977
Epoch 4/5
154224/154224 [==============================] - 3s 18us/step - loss: 0.0029 - accuracy: 0.9980
Epoch 5/5
154224/154224 [==============================] - 3s 18us/step - loss: 0.0026 - accuracy: 0.9981

In [18]:
score = model.evaluate(X_test, y_test, verbose=0)
print('Loss:', score[0], " Accuracy:", score[1])

Loss: 0.0025016733670773024  Accuracy: 0.9980936646461487

# CNN

In [55]:
X_train = X_train[:, :, np.newaxis]
X_train.shape

(154224, 52, 1)

In [56]:
X_test = X_test[:, :, np.newaxis]
X_test.shape

(66096, 52, 1)

In [57]:
from keras.models import Sequential
from keras.layers import Input, Conv1D, Conv2D, BatchNormalization, Activation, MaxPooling1D, MaxPooling2D, Dropout, Flatten, Dense

In [61]:
#bn_axis = 3

model = Sequential()

#model.add(Conv1D(32, (5,1), activation='relu',input_shape=X_train.shape[1:]))
#model.add(Conv1D(32, (5,1)))
#model.add(Activation('relu'))
#model.add(MaxPooling2D(pool_size=(2, 1)))
#model.add(Dropout(0.25))

model.add(Conv1D(32, 6, activation='relu', input_shape=X_train.shape[1:], strides=1))
model.add(Conv1D(32, 6))
model.add(MaxPooling1D(pool_size=3))
model.add(Dropout(0.25))

#model.add(Conv2D(64, (3, 3), padding='same'))
#model.add(Activation('relu'))
#model.add(Conv2D(64, (3, 3)))
#model.add(Activation('relu'))
#model.add(MaxPooling2D(pool_size=(2, 2)))
#model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.5))
#model.add(Dense(1, activation='linear'))
#model.compile(optimizer='sgd' ,loss='mse',metrics=['accuracy'])
          
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])          
          
#model.add(Dense(1, activation='softmax'))
#model.compile(optimizer='adam',
#              loss='sparse_categorical_crossentropy',
#              metrics=['accuracy'])

model.summary()

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_4 (Conv1D)            (None, 47, 32)            224
_________________________________________________________________
conv1d_5 (Conv1D)            (None, 42, 32)            6176
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 14, 32)            0
_________________________________________________________________
dropout_13 (Dropout)         (None, 14, 32)            0
_________________________________________________________________
flatten_7 (Flatten)          (None, 448)               0
_________________________________________________________________
dense_21 (Dense)             (None, 32)                14368
_________________________________________________________________
dropout_14 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_22 (Dense)             (None, 1)                 33
=================================================================
Total params: 20,801
Trainable params: 20,801
Non-trainable params: 0
_________________________________________________________________

In [62]:
history = model.fit(X_train, y_train, batch_size=52, epochs=5, validation_data=(X_test, y_test))

Train on 154224 samples, validate on 66096 samples
Epoch 1/5
154224/154224 [==============================] - 23s 149us/step - loss: 0.0169 - accuracy: 0.9947 - val_loss: 0.0071 - val_accuracy: 0.9983
Epoch 2/5
154224/154224 [==============================] - 23s 146us/step - loss: 0.0051 - accuracy: 0.9985 - val_loss: 0.0039 - val_accuracy: 0.9985
Epoch 3/5
154224/154224 [==============================] - 23s 147us/step - loss: 0.0048 - accuracy: 0.9987 - val_loss: 0.0028 - val_accuracy: 0.9988
Epoch 4/5
154224/154224 [==============================] - 23s 147us/step - loss: 0.0038 - accuracy: 0.9989 - val_loss: 0.0019 - val_accuracy: 0.9991
Epoch 5/5
154224/154224 [==============================] - 24s 153us/step - loss: 0.0034 - accuracy: 0.9991 - val_loss: 0.0025 - val_accuracy: 0.9993

In [63]:
score = model.evaluate(X_test, y_test, verbose=0)
print('Loss:', score[0], " Accuracy:", score[1])

Loss: 0.002451911045140332  Accuracy: 0.9993494153022766